:root{
    --primary-color: #ffffff;
    --bg-color: #eeeeee;
    --text-color: #000000;
}

p{
    color: var(--text-color);
}

body{
    margin: 0;
    background-color: var(--bg-color);
    height: 100%;
}

header{
    background-color: var(--primary-color);
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px inset var(--bg-color);
    margin-bottom: 70px;
}

header .containerLogo{
   margin-left:30px ;
   display: flex;
   align-items: center;
}

header p{
    color: var(--text-color);
    margin-left:10px;
    font-family: 'Mitr', sans-serif;
    font-size: 40px;
}

.containerNavigation{
    background-color: var(--primary-color);
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    width: 280px;
}

nav{
    display: flex;
    width: 100%;
}

nav ul{
    width: 100%;
    margin-left: -40px;
}

nav ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul button:hover{
    background-color: var(--bg-color);
    cursor: pointer;
}

button:focus{
    outline: none;
}

nav ul li span{
    margin-right: 20px;
}

nav ul button li{
    margin-left: 40px;
}

nav ul button{
    width: 280px;
    font-size: 23px;
    font-family: 'Mitr', sans-serif;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    text-align: left;
    border-radius: 40px;
}

.containerNavigation .containerOptionsUser{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -45px;
}

.containerOptionsUser #buttonPerfil{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 15px 20px 15px 20px;
}

#buttonPerfil img{
    border-radius: 50%;
}

.containerOptionsUser #buttonPerfil p{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15px;
    font-weight: bold;
}

.containerB, #buttonOptionUser, .nav{
    position: absolute;
}

.containerB{
    margin: auto;
    margin-top: -40px;
    margin-left: 200px;
}

#toggle{
    display: none;
}

#buttonOptionUser{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    width: 43px;
    height: 43px;
    background: var(--bg-color);
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    color: var(--text-color);
}

.nav{
    transform: translateY(-10%);
    opacity: 0;
    top: 13px;
    left: -50px;
    transition: all 0.5s ease-in-out;
    background: var(--primary-color);
    width: 150px;
    border-radius: 5px;
    border: 2px black;
    transform: translateY(0%);
    box-shadow: 1px 1px 10px 4px var(--bg-color);
}

.nav button{
    text-align: left;
    align-items: center;
    display: block;
    margin:0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40px;
    width: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: var(--text-color);
    background-color: var(--primary-color);
    transition: all 100ms;
    border: 1px var(--text-color) solid;
}

.nav #buttonCambiarContraseña{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}

.nav #buttonCerrarSesion{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

.nav button:hover{
    background-color: var(--bg-color);
}

#toggle:checked ~ .nav{
    opacity: 1;
    transform: translateY(10%);
}

#toggle:checked ~ #buttonOptionUser{
    transform: rotate(180deg);
    box-shadow: 0 0 0 0 transparent;
}

.pop-up-cambiar-contraseña{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.pop-up-wrap-cambiar-contraseña{
    background-color: var(--primary-color);
    color: var(--text-color);
    display: inline;
    width: 500px;
    height: 370px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px #ffffff solid;
}

.pop-up-wrap-cambiar-contraseña .containerTituloyBotonCerrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pop-up-wrap-cambiar-contraseña .containerTituloyBotonCerrar h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 120px;
    margin-right: 75px;
}

.pop-up-wrap-cambiar-contraseña .datosCambiarContraseña{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.datosCambiarContraseña input{
    font-size: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: transparent;
    height: 40px;
    padding: 0 10px 0 10px;
    width: 240px;
    outline: none;
    color: var(--text-color);
    margin-bottom: 20px;
}

.datosCambiarContraseña #buttonSubirCambiosContraseña{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe000;
    width: 150px;
    height: 40px;
    border:0.5px black solid;
    border-radius: 4px;
    margin-top: 15px;
}

#buttonCerrarModalCambiarContraseña{
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 40px;
    border: none;
}

.containerContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    min-width: 500px;
    background-color: var(--primary-color);
    margin-top: 70px;
    margin-left: 282px;
}

.containerContent .containerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: var(--primary-color);
    flex-direction: column;
}

h2{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}

.container{
    display: contents;
    width: 100%;
    background-color: var(--primary-color);
}

.row{
    width: 100%;
    color: var(--text-color);
}

.row select{
    background-color: transparent;
    color: var(--text-color);
}

.row select:focus{
    background-color: var(--primary-color);
}

.row select option{
    background-color: var(--primary-color);
    color: var(--text-color);
}

#contenedorTabla{
    width: 100%;
    padding: 0px 50px 0px 10px;
}

.row input{
    background-color: transparent;
}

div.dataTables_wrapper div.dataTables_filter input {
    color: var(--text-color);
}

.row input:focus{
    background-color: var(--primary-color);
}

.row a{
    background-color: var(--primary-color);
    color: var(--text-color);
}

#example{
    width: 100%;
    background-color: var();
}

th, td{
    color: var(--text-color);
}

table tbody tr:nth-child(odd){
    background-color: var(red);
}

table .buttonTable{
    border-radius: 50%;
    background-color: transparent;
    border: 2px var(--text-color) solid;
    width: 48px;
    height: 48px;
}

table .buttonTable span{
    display: contents;
    color: var(--text-color);
}

.menuTema{
    width: 85px;
    height: 80%;
    align-items: center;
    display: flex;
    position: fixed;
}

.tema{
    width: 35px;
    height: 55px;
    background: var(--bg-color);
    box-shadow: 0px 0px 5px #000000;
    position: fixed;
    border-radius: 10px 0 0 10px;
    right: -5px;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    transition: right 0.5s;
    display: flex;
    margin: 0px;
}

.tema p{
    margin: 0px;
}

.checkbox:checked ~ .tema{
    right: 50px;
}

.panel{
    background: var(--bg-color);
    box-shadow: 0px 0px 5px;
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 100px;
    position: fixed;
    right: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: right 0.5s;
}

.panel ul{
    margin: 0px;
}

.panel ul button{
    margin-left: -30px;
    border-radius: 10px;
    border-style: none;
    background: var(--bg-color);
}

.checkbox:checked ~ .panel{
    right: 0px;
}

.checkbox{
    display: none;
}