:root{
    --primary-color: #ffffff;
    --bg-color: #eeeeee;
    --text-color: #000000;
}

body{
    margin: 0;
    background-color: var(--bg-color);
    height: 100%;
}

header{
    background-color: var(--primary-color);
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px inset var(--bg-color);
}

header .containerLogo{
   margin-left:30px ;
   display: flex;
   align-items: center;
}

header p{
    color: var(--text-color);
    margin-left:10px;
    font-family: 'Mitr', sans-serif;
    font-size: 40px;
}

header .containerBarSearch{
    display: flex;
    align-items: center;
}


header .containerBarSearch #barSearch:focus{
    outline:none;
}

header .containerBarSearch #barSearch{
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    border-radius: 40px;
    padding-left:15px ;
    height: 40px;
    width: 300px;
    margin-right: 5px;
    border: var(--bg-color);
    background-color: var(--bg-color);
}

header .containerBarSearch #buttonSearch{
    background-color: transparent;
    border: none;
}


header .containerOptionsUser{
    margin-right: 25px;
}


header .containerOptionsUser #buttonUserOptions{
    background-color: transparent;
    border-color: var(--text-color);
    margin-left: 10px;
    border: none;
}

.containerNavigation{
    background-color: var(--primary-color);
    position: fixed;
    top: 72px;
    left: 0;
    height: 100%;
    width: 280px;
}

nav{
    display: flex;
    width: 100%;
    height: 100%;
}

nav ul{
    width: 100%;
    margin-left: -40px;
}

nav ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul button:hover{
    background-color: var(--bg-color);
    border-radius: 40px;
    cursor: pointer;
}

nav ul li img{
    margin-right: 20px;
}

nav ul button li{
    margin-left: 40px;
}

nav ul button{
    width: 100%;
    font-size: 23px;
    font-family: 'Mitr', sans-serif;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.containerPrincipal{
    display: flex;
    margin-top: 72px;
    margin-left: 282px;
}

.containerContent .containerInputPost{
    background-color: var(--primary-color);
    padding: 20px;
    border-bottom: 2px solid var(--bg-color);
}

.containerContent .containerInputPost .containerInputAndImageProfile{
    display: flex;
    margin-top: 10px;
    margin-left: 0px;
    height: 70px;
}

.containerContent .containerInputPost #buttonInputPost{
    font-size: 20px;
    margin-left: 20px;
    width: 80%;
    height: 48px;
    border: none;
    border-radius: 40px;
    background-color: #ecebeb;
}

.containerContent .containerInputPost #buttonInputPost:hover{
    background-color: #dbdbdb;
}

.containerContent .containerInputPost #buttonPublishPost{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #ffe000;
    border-radius: 20px;
    border: none;
    width: 140px;
    height: 40px;
    right:0px;
}

.containerContent{
    align-items: flex-start;
    width: 69%;
    min-width: 450px;
}

.containerContent .post{
    background-color: var(--primary-color);
    padding: 1px 20px 20px 20px;
    margin-bottom: 2px;
}

.containerContent .post .ContainerPicturesNameUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.post .ContainerPicturesNameUser p{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15px;
    font-weight: bold;
}

.containerContent .post h3{
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.containerContent h1{
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    margin-bottom: 15px;
}

.containerContent article{
    display: flex;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-break: break-all;
    margin-top: -20px;
}

.post .containerReactionComment{
    margin-top: 20px;
    /*border: 2px solid #dbdbdb;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

.containerLike p, .containerComment p, .containerDislike p{
    font-size: 17px;
    margin-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#buttonLike, #buttonDislike, #buttonComment{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
    height: 40px;
    background-color: transparent;
    border: none;
}

#buttonLike:hover, #buttonDislike:hover, #buttonComment:hover{
    background-color: #eeeeee;
}

#buttonLike, #buttonDislike{
    margin-right: 25px;
}

.containerTrendings{
    background-color: var(--primary-color);
    width: 34%;
    height: 500px;
    align-items: flex-end;
    margin-left: 2px;
    padding: 25px;
}

.containerTrendings h2{
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerTrendings p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pop-up {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.pop-up-wrap {
    background-color: var(--primary-color);;
    color: var(--text-color);
    display: inline;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px #ffffff solid;
}

.containerTituloyBotonCerrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.containerTituloyBotonCerrar p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 185px;
    margin-right: 130px;
}

.containerTituloyBotonCerrar #buttonCerrarModal{
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 40px;
    border: none;
}

#datosPost{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#datosPost div{
    margin-bottom: 30px;
}

#datosPost #inputTituloPost{
    height: 36px;
    width: 250px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
    color: var(--text-color);
}

#datosPost #selectCategoriaPost{
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
}

#datosPost #selectCategoriaPost option{
    background-color: var(--primary-color);
}

#datosPost #selectCategoriaPost option:hover{
    background-color: var(--bg-color);
}

#datosPost #inputContenidoPost{
    background-color: transparent;
    resize: none;
    height: 200px;
    width: 500px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
    color: var(--text-color);
}

#datosPost #buttonPublicarPost{
    background-color: #ffe000;
    width: 150px;
    height: 40px;
    border:0.5px black solid;
    border-radius: 4px;
    font-size: 20px; 
}

.menuTema{
    width: 85px;
    height: 80%;
    align-items: center;
    display: flex;
    position: fixed;
}

.tema{
    width: 35px;
    height: 40px;
    background: var(--bg-color);
    box-shadow: 0px 0px 5px #000000;
    position: fixed;
    border-radius: 10px 0 0 10px;
    right: -5px;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    transition: right 0.5s;
}

.checkbox:checked ~ .tema{
    right: 50px;
}

.panel{
    background: var(--bg-color);
    box-shadow: 0px 0px 5px;
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 100px;
    position: fixed;
    right: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right 0.5s;
}

.panel ul button{
    margin-left: -30px;
    border-radius: 10px;
    border-style: none;
    background: var(--bg-color);
}

.checkbox:checked ~ .panel{
    right: 0px;
}

.checkbox{
    display: none;
}

article, h1, h2, p{
    color: var(--text-color);
}